####################################
# AI Provider
####################################

AI_API_KEY=your_api_key_here
MODEL=gpt-5

####################################
# PostgreSQL
####################################

DATABASE_URL=postgresql+psycopg://username:password@hostname:5432/database

####################################
# App
####################################

APP_NAME=Learning AI Proxy
DEBUG=true